.cart{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    min-height: 8vh;
    background-color: var(--bg-color);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
box-shadow: 0px -4px 39px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    button{
        width: 100%;
        border-radius: 10px;
        height: 40px;
        background-color: white;
        font-size: 14px;
        box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    }
}