.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -4px 39px 6px rgba(0, 0, 0, 0.301);
  padding: 10px;
  &__empty {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    background-color: white;
    font-size: 16px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.281);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
    font-size: 18px;
  }
  &__order {
    width: 100%;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.281);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 25px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--color-orange);
    color: white;
    p {
      flex-grow: 1;
    }
  }
}
