.category__wrapper_cards_card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bgcolor-white);
  width: calc(100% / 4 - 30px);
  flex-grow: 1;
  border-radius: 12px;
  border: 1px solid var(--color-border);
  transition: 0.2s linear;
  z-index: 0 !important;
  padding: 10px;
  @media (max-width: 650px) {
    flex-direction: column;
    width: calc(100% / 2 - 1.2rem);
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  cursor: pointer;
  &_img {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      position: absolute;
      left: 0;
      top: 25px;
      transform: translateY(-50%);
      z-index: 2;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 22px;
      font-size: 12px;
      font-weight: 400;
      color: white;
      line-height: 14px;
      flex-shrink: 0;
      background-color: #e23535;
    }
    @media (max-width: 570px) {
      // width: 100px;
      // height: 100%;
    }
    img {
      width: 100%;
      @media (max-width: 570px) {
        // width: 100px;
        // height: 100%;
        object-fit: cover;
      }
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    &__purchase {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &_add {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        background-color: var(--color-orange);
        color: "white" !important;
        padding: 13px 32px;
        font-size: 16px;
        transition: ".1s linear";
        cursor: pointer;
        border-radius: 6px;
        @media (max-width: 650px) {
          padding: 10px 10px;
        }
        p {
          color: white;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          pointer-events: none;
        }
      }
      &_change {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        button {
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          background-color: var(--color-orange);
          color: white !important;
          padding: 5px;
          font-size: 26px;
          transition: ".1s linear";
          cursor: pointer;
          border-radius: 6px;
        }
      }
    }
    @media (max-width: 650px) {
      gap: 5px;
      align-self: stretch;
      flex-grow: 1;
      justify-content: space-between;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: var(--fontColor-black);
      @media (max-width: 650px) {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
