.cartModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 999999;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: .2s linear;
  &.opened{
    top: 0;
  }
  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    button {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 24px;
      border-radius: 50%;
      background-color: var(--bgcolor-white);
      box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
        inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
        0 -10px 15px -1px rgba(255, 255, 255, 0.6),
        inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
        inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
        inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
    }
  }
  &_empty{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 100%;
    }
  }
  &_orders {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    &__order {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2px;
      &_info {
        flex-grow: 1;
        h3 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          color: var(--color-orange);
        }
      }
      &_change {
        border: 1px solid rgb(219, 219, 219);
        min-width: 90px;
        height: 45px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        span{
            font-weight: 600;
            font-size: 16px;
        }
        button {
          background-color: transparent;
          padding: 5px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:first-child {
            background-color: rgb(233, 233, 233);
          }
          &:last-child {
            background-color: var(--color-orange);
            color: white;
          }
        }
      }
    }
  }
  &_all{
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(219, 219, 219);
    gap: 1rem;
    h4{
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
    }
    p{
        font-size: 14px;
        color: grey;
    }
    button{
        height: 40px;
        padding-inline: 1rem;
        border-radius: 10px;
        font-size: 16px;
        background-color: var(--color-orange);
        color: white;
    }
  }
}
